.post-container {
    width: 500px;
}

.singlePost {
    margin: 40px 0;
}

.singlePost-card {
    box-shadow: 0 4px 8px 0 rgb(0, 251, 255), 0 6px 20px 0 rgb(0, 251, 255);
}

.photo-img {
    height: 220px;
}

.card {
    border-radius: 10px;
}

.spinner-wrapper {
    margin: 20px 0;
    color: blue;
}

.singlePost-header {
    background-color: #3D0000;
    color: white;
    display: flex;
    justify-content: space-between;
}

.singlePost-body {
    background-color: #3D0000;
    color: white;
}

.singlePost-btn {
    background-color: inherit;
    border: none;
}

.singlePost-btn:hover {
    background-color: inherit;
    box-shadow: 0 2px 8px 0 rgb(0, 251, 255), 0 2px 20px 0 rgb(0, 251, 255);
}